.todo-item {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    border-bottom: 1px solid #c2c2c2;
}

.todo-item .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

.item-todo__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item-todo {
    display: flex;
    align-items: center;
}

.strike {
    text-decoration: line-through;
  }

  .item-todo__data-text {
      font-size: 12px;
      color: #c2c2c2;
  }